@inject SignInManager<ApplicationUser> signInManager;
@model Cinema

@{
    ViewData["Title"] = "Detail";
}

<div class="container">
        <h3>Detail of @Model.Name Cinema</h3>
</div>
<div class="row text">
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-8 offset-2">
                    <div class=" text-center">
                        <img class="border-info rounded-circle" style="max-width:150px" id="PicturePreview" />
                        <p>@Model.Name</p>
                    </div>
                    <br />
                    <div >
                        <label asp-for="Logo" class="form-control-plaintext" style="display:none"></label>
                        <input asp-for="Logo" class="form-control" readonly style="display:none"/>
                        <span asp-validation-for="Logo" class="text-danger" style="display:none"></span>

                        <b><label asp-for="Address" class="form-control-plaintext"></label></b>
                        <p>@Model.Address</p>
                        <span asp-validation-for="Address" class="text-danger"></span>

                        <label asp-for="Seats" class="form-control-plaintext"></label>
                        <p>@Model.Seats</p>
                        <span asp-validation-for="Seats" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-control">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        }
                        <a asp-action="index" class="btn btn-outline-secondary">Show All</a>
                    </div>
            </div>
        </div>
    </div>
</div>